<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mars...</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p>
    </div>
    <img src="{{ data.featured_image}}" alt="mars">
    <h3> {{ data.title }}</h3>
    <h3> {{ data.paragraph }}</h3>
    <br> {{data.mars_facts|safe}}
    <h3> {{ data.hemisphere_image[0] if p is not none else 'NONE'.title}}</h3>
    <img src="{{ data.hemisphere_image[0] if p is not none else 'NONE'.title.img_url}}" alt="mars">
    <br>
    <h3> {{ data.hemisphere_image[1] if p is not none else 'NONE'.title.title}}</h3>
    <img src="{{ data.hemisphere_image[1] if p is not none else 'NONE'.title.img_url}}" alt="mars">
    <br>
    <h3> {{ data.hemisphere_image[2] if p is not none else 'NONE'.title.title}}</h3>
    <img src="{{ data.hemisphere_image[2] if p is not none else 'NONE'.title.img_url}}" alt="mars">
    <br>
    <h3> {{ data.hemisphere_image[3] if p is not none else 'NONE'.title.title}}</h3>
    <img src="{{ data.hemisphere_image[3] if p is not none else 'NONE'.title.img_url}}" alt="mars">
  </div>
  </div>
</body>

</html>